@forward "./variables.scss" as var*;
@import "./variables.scss";
@import './reset';

@import '../components/App';
@import '../components/ArtistList';
@import '../components/ArtistPage';
@import '../components/Dashboard';
@import '../components/Login';
@import '../components/SideBar';
@import '../components/TopBar';

html {
  font-family: $Poppins;
  font-size: 10px;
}

body {
  background-color: $bg;
  color: $light;
  font-size: 1.7rem;
}

button {
  @include btn($action, $light);
}

